html {
	min-height: 100%;
}

body {
	margin: 0;
	min-height: 100%;
    min-width: 1000px;
    padding-top: 0;
	background-image: url(../res/img/grey_background_5.jpg);
	background-repeat: repeat;
	color: #333;
	font: 15px 'Open Sans', Calibri, Arial, Helvetica, Sans-serif;
}

.arial_font {
    font-family: Arial, Helvetica, sans-serif;
}

/*===================================*/
/*            MAIN CONTENT           */
/*===================================*/

main {
    position: relative;
    margin: 240px auto 0;
    padding-top: 20px;
    height: 100%;
    max-width: 1000px;
}

.navigation_hash_page {                 
    display: none;
}

/*===================================*/
/*          LOADING INDICATOR        */
/*===================================*/

#loading_message_outerdiv {
    display: none;
    position: fixed;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5); /* Black transparent 50% */
    z-index: 2;
}

/* Internal smaller div */
#loading_message_outerdiv div {
    position: relative;
    top: 33%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 300px;
    height: 150px;
    background-color: #eee;
    border: 5px solid white;
}

#loading_message_outerdiv img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#loading_message_outerdiv p {
    font-size: 24px;
    text-align: center;
    font-weight: 500;
    color: #333;
}

/*===================================*/
/*          HEADER + MENU            */
/*===================================*/

#top_dummy {						
	position: fixed;
	top: 0;
	height: 64px;
	width: 100%;
	border-bottom: 4px solid white;
	box-shadow: 1px 1px #b1aeae; /*grey*/
	box-sizing: border-box;
}

/* Including upper fixed menu and main tiled menu */
header {
	position: fixed;
	margin-top: 64px;
    top: 0;
	padding: 20px 0;
    width: 100%;
    background-image: url(../res/img/grey_background.jpg);
    background-repeat: repeat;
    border-bottom: 4px solid white;
    box-shadow: 1px 1px #b1aeae; /*grey*/
    z-index: 2;
}

#container_4tiles_mainmenu {
    float: left;
    position: relative;
    margin: 0;
    padding: 0;
    height: 150px;
    max-width: 750px;
    overflow: hidden; /* Hides animated tiles */
}

#mainmenu {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

#mainmenu::after {
	content: "";
	display: block;
	clear: both;
}

/* First text inside tiles in main menu */
#container_4tiles_mainmenu p {
	margin: -30px 0; 
    font-size: 18px;      
    text-align: center;
}

/* Second text inside tiles in main menu (shown after animation) */
#container_4tiles_mainmenu span > p{
    padding: 40px 10px;       
    text-align: center;
}

/*container for menu list*/
#mainmenu ul {					
	list-style: none;
	margin: 0 0 -6px;	/* Somehow it adds margin in the bottom so this is non-feng-shui temporary correction */
	padding: 0;
}

/*menu "li" containers*/
#mainmenu ul > li {				
	display: inline-block;
    position: relative;
    margin: 0 4px 0 0;
	overflow: hidden;
}

/* Login form in header */
#header_login {
	position: relative;
	float: right;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 150px;
}

/* Greetings form in header */
#header_greetings {
	display: none;
	position: relative;
	float: right;
	margin: 0;
	width: 200px;
	height: 150px;
	color: white;
	font-size: 15px;	
}

#header_greetings p {
    margin: 0;
    padding-bottom: 2px;
    text-align: center;
    font-weight: 600;
    color: #455a64;
}

/* Container for avatar in greetings form in header*/
#greetings_image_c {    
    text-align: center; /* To center image*/
    margin: 0;
    padding: 0;
}

/*===================================*/
/*              WIN10                */
/*===================================*/

.darkblue {
	background-color: #00619d;
}

.lightblue {
	background-color: #0093d7;
}

.lbgrey {
	background-color: #607d8b;
}

.grey {
	background-color: #455a64;
}

.animated_square_tile {
	position: relative;
	margin: 0;
	width: 180px;
	height: 150px;
	padding: 132px 0;
	color: white;
	background: linear-gradient(#00619d, #005386);
	font-size: 15px;
	transition: all .25s ease-out;
	cursor: pointer;
	overflow: hidden;
    box-sizing: border-box;
}

.animated_square_tile span {
    display: block;
    position: absolute;
    bottom: 0;
    background-color: #0076bf;
    width: 180px;
    height: 120px;
}

.animated_square_tile:hover{
    transform: translate(0, -90px);
}

/*===================================*/
/*         WIN10 CHECKBOXES          */
/*===================================*/

/* The container */
.container {
    display: block;
    position: relative;
    padding: 5px 35px;
    margin: 0;
    font-size: 15px;
    color: #5f8ba7;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 23px;
    width: 23px;
    background-color: #eee;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: #0093d7;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
    left: 8px;
    top: 4px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}


/*===================================*/
/*              FORMS                */
/*===================================*/

.forms {
  margin: 0 auto;
  padding: 10px;
  position: relative;
  font-size: 15px;
  line-height: 24px;
  font-weight: bold;
  color: #00619d;            /*dark blue*/
  background-color: #eee;
  text-decoration: none;
  border: 5px solid #0076bf; /*blue*/
}

.header_inputs {
	background-color: white;
    border: 1px solid #ccc;
    color: #a8a8a8;
    margin: 0 0 1px;
    padding: 9px 12px;
    width: 100%;
    box-sizing: border-box;
}

.form_inputs {
    background-color: white;
    border: 1px solid #ccc;
    color: #a8a8a8;
    font-size: 15px;
    margin: 0 0 10px;
    padding: 9px 12px;
    width: 100%;
    box-sizing: border-box;
}

.buttons {
    color: white;
    padding: 12px 0;
    margin: 5px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}

.header_inputs:focus .form_inputs:focus {
    outline: 1px solid #ccc;
    box-shadow: 0 0 2px rgba(0, 0, 0, 1);
}

#registration_form{
    width: 400px;
}

#registration_form h2, #user_list h2{
    text-align: center;
}

/*===================================*/
/*              USER LIST            */
/*===================================*/

#user_list{   /* Form */
    width: 100%;                 
    box-sizing: border-box;
}

#outer_div_for_user_list{
    position: relative;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#outer_div_for_user_list::after{
    display: block;
    content: "";
    clear: both;
}

/*===================================*/
/*         USER LIST as Tiles        */
/*===================================*/

.user_tiles_divs{                     /*small containers with avatar and username inside*/
    position: relative;
    float: left;
    margin: 0;
    padding: 0 0 45px 0;
    width: 25%;                       /*25% == 4 users in a row*/
    height: 200px;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    overflow: hidden;
}

.user_tiles_divs:hover{
    /*transform: scale(0.9);*/
}

.img_containers_inside_user_tiles_divs{
    position: relative;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.img_containers_inside_user_tiles_divs img{
    max-width: 100%;
    max-height: 100%;
}

/* Backround for user names; CURRENTLY UNUSED*/
/*.user_name_divs {
    position: relative;
    bottom: 5px;
    padding: 0;
    margin: 0 auto;
    width: 80%;
    height: 60px;
    background: rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
}*/

/* Text above user avatars in user list */
.user_tiles_divs p{
    position: relative;
    text-align: center;
    margin: 0;
    padding: 5px;
    font-size: 20px;
    font-weight: 500;
}


/*===================================*/
/*      SCREEN IS LESS THAN 967px    */
/*===================================*/
/*@media screen and (min-width: 760px) {
    
}*/
